.chatContainer {
  padding: 30px;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
  height: max-content;
  .local {
    padding: 20px;
    border-radius: 20px;
    background-color: darkcyan;
    max-width: 80%;
    color: white;
    font-size: 17px;
    align-self: flex-start;
  }

  .remoto {
    padding: 20px;
    border-radius: 20px;
    background-color: darkkhaki;
    max-width: 80%;
    color: white;
    font-size: 17px;
    align-self: flex-end;
  }
}

.inputContainer {
  position: fixed;
  bottom: 0;
  width: 100%;

  input {
    width: 100%;
    padding: 1rem;
  }
}
