<div class="Card"  >
  <div *ngFor="let publication of DataPublications">
    <mat-card class="publicationCard" >
      <mat-card-header class="Header">
        <div mat-card-avatar class="avatar"><img src="{{publication?.userImg}}" alt=""></div>
        <div class="containerTitle">
          <mat-card-title class="title">{{publication.titulo}}</mat-card-title>
          <mat-card-subtitle class="createdBy">{{DataUser?.company}}</mat-card-subtitle>
        </div>
        <button mat-raised-button color="warn" *ngIf="isOwner(publication.idUser)" (click)="openModalEditPublication(publication)" class="btnEdit">Editar</button>
      </mat-card-header>
      <img class="imgPubli" mat-card-image src="{{ publication.img ? publication.img : 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Image_not_available.png/640px-Image_not_available.png' }}" alt="{{ publication.titulo }}" (error)="setDefaultImage($event)">
      <mat-card-content class="content">
        <p class="description">
          {{publication.descripcion}}
        </p>
        <p class="date">
          {{publication.fecha}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

