.Card{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  .publicationCard{
    max-width: 500px;

    .avatar{
      border: solid white 1px;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        border-radius: 100px;
        width: 100%;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
      }
    }
  }
}

