<div class="containerRegister">
  <form [formGroup]="registerForm" (ngSubmit)="register()" class="FormRegister">
      <input type="url" placeholder="URL Profile Image" formControlName="userImg">
      <input type="text" placeholder="Company" formControlName="company">
      <input type="email" placeholder="Email" formControlName="email">
      <input type="password" placeholder="Password" formControlName="password">
      <textarea type="text" placeholder="Description Company" formControlName="companyDescription" minlength="1"></textarea>
      <select formControlName="ubication">
        <option value="">Ubicacion de la empresa</option>
        <option value="Bogota">Bogota</option>
        <option value="Medellin">Medellin</option>
        <option value="Tunja">Tunja</option>
        <option value="Barranquilla">Barranquilla</option>
        <option value="Exterior">Exterior</option>
      </select>
    <div class="ContainerBtn">
      <button mat-raised-button type="submit" [disabled]="registerDisabled" >Register</button>
      <button mat-raised-button color="warn" class="login" routerLink="/login">Login</button>
    </div>
  </form>
</div>
