<div class="Modal">
  <!-- <div class="Containerform">
    <form class="FormCreatePublication" [formGroup]="MessageForm" (ngSubmit)="PostPublication()">
      <input type="text" placeholder="Topic" formControlName="topic">
      <textarea type="text" placeholder="Content" formControlName="content"></textarea>
      <button type="submit" class="btnSubmit">Submit</button>
    </form>
  </div>

  <div class="ContainerBtn">
    <button class="BtnClose" (click)="closeModal()">Close</button>
  </div> -->
</div>
