<div class="containerProfile">

  <div class="user">
    <div class="imgUser">
      <img mat-card-image src="{{ DataUser.userImg ? DataUser.userImg : 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Image_not_available.png/640px-Image_not_available.png' }}" alt="{{ DataUser.company}}" (error)="setDefaultImage($event)">
    </div>

    <div class="infoUser">
      <h2>{{DataUser.company}}</h2>
      <p>{{DataUser.companyDescription}}</p>
      <h1 *ngIf="DataUser.ubication"><mat-icon> location_on</mat-icon> {{DataUser.ubication}}</h1>


    </div>
    <div class="edit">
      <mat-card-actions>
        <button mat-raised-button color="warn" class="btnEdit" (click)="openModalEditProfile(DataUser)">Edit</button>
      </mat-card-actions>
    </div>

  </div>

  <div  class="publicationsUser">
    <div class="publications">
      <app-card [Data]="DataPublications" [user]="usertoken"></app-card>
    </div>
  </div>


</div>
