.containerProfile{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  .user{
    height: fit-content;
    display: flex;
    padding: 2rem;
    gap: 1rem;
    background: #424242;
    .imgUser{
      display: flex;
      align-items: center;
      border-radius: 20px;
      img{
        width: 200px;
      }
    }
    .infoUser{
      display: flex;
      flex-direction: column;
      margin: 1rem;
      color: white;

    }
    .edit{
      display: flex;
      align-items:end;
      .btnEdit{
        padding: 1rem 1rem;
      }
    }
  }

  .publicationsUser{
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    .publications{
      width: 40%;
      height: 50%;
    }
  }

}
