
//Variables Globales
$color-principal: #000000;
$color-secundario: #ff0000;
$color-claro: #ffffff;
$color-negro-claro: #242526;
$color-gris: #B0B3B8;
$color-gris-2: #424242;
$color-gris-placeholder: #8b8a8a6b;
$color-gris-oscuro: #3A3B3C;


html, body { height: 100%; }
body { margin: 0;padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif;

  .mat-mdc-button>.mat-icon {
    margin-right: 0;
  }

  background-color:   #18191A

}

