
<div class="ContainerDashboard">

  <div class="Dashboard">

    <div class="containerNews">
      <div class="news" *ngFor="let notice of news">
        <label>{{notice.titulo}}</label>
        <img src="{{notice.img}}">
      </div>
    </div>

    <div class="containerDash">
      <div class="createPubli">
        <button class="BtnCreate" (click)="openModalCreatePublication()">
          <mat-icon>create</mat-icon>
          <span>
            Create Publication
          </span>
        </button>
        <div class="InputSearch">
          <app-search-bar type="publicaciones" (searchQueryChanged)="getPublications($event)" ></app-search-bar>
        </div>
      </div>

      <div class="containerCard" *ngIf="dataPublications?.length > 0; else DataNotFound">
          <app-card [Data]="dataPublications"></app-card>
      </div>

      <ng-template #DataNotFound>
        <h1>Busqueda no encontrada</h1>
      </ng-template>

    </div>

  </div>
</div>

